@font-face {
  font-family: 'Lab Grotesque';
  src: url('../fonts/LabGrotesque-Regular.eot');
  src: local('Lab Grotesque Regular'), local('LabGrotesque-Regular'),
    url('../fonts/LabGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LabGrotesque-Regular.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Regular.woff') format('woff'),
    url('../fonts/LabGrotesque-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lab Grotesque';
  src: url('../fonts/LabGrotesque-Bold.eot');
  src: local('Lab Grotesque Regular'), local('LabGrotesque-Regular'),
    url('../fonts/LabGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LabGrotesque-Bold.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Bold.woff') format('woff'),
    url('../fonts/LabGrotesque-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Lab Grotesque';
  src: url('../fonts/LabGrotesque-Medium.eot');
  src: local('Lab Grotesque Regular'), local('LabGrotesque-Regular'),
    url('../fonts/LabGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LabGrotesque-Medium.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Medium.woff') format('woff'),
    url('../fonts/LabGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: 'Lab Grotesque';
  src: url('../fonts/LabGrotesque-Light.eot');
  src: local('Lab Grotesque Regular'), local('LabGrotesque-Regular'),
    url('../fonts/LabGrotesque-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LabGrotesque-Light.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Light.woff') format('woff'),
    url('../fonts/LabGrotesque-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: light;
}
body {
  font-family: 'Lab Grotesque', sans-serif;
  color: #222733;
  font-weight: 400;
}

h2,
p {
  margin: 0;
}

.section {
  background-color: #F3F5F8;
  padding: 140px 130px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  padding: 0 10px;
}
.step {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 60px;
  &-item {
    display: flex;
    column-gap: 20px;
    align-items: center;
    &.active {
      & .step-count {
        background-color: #222733;
        color: #fff;
        opacity: 1;
      }
      & .step-text {
        font-weight: 500;
        opacity: 1;
      }
    }
  }
  &-count {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(84, 94, 118, 0.12);
    opacity: 0.5;
  }
  &-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.5;
  }
}
.form {
  display: flex;
  overflow: hidden;
  &-item {
    & h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 44px;
    }
    & p {
      font-size: 20px;
      opacity: 0.8;
      font-weight: 300;
      line-height: 130%;
      margin-bottom: 20px;
    }
  }
  &-format {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    column-gap: 16px;
    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      & input {
        display: none;
        &:checked + label {
          background-color: #222733;
          color: #fff;
        }
      }
      & label {
        padding: 14px 24px;
        text-align: center;
        background-color: rgba(84, 94, 118, 0.12);
        font-size: 20px;
        border-radius: 50px;
        cursor: pointer;
      }
    }
  }
  &-param {
    width: 780px;
  }
  &-inner {
    position: relative;
    padding: 30px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 24px;
    border-radius: 12px;
    &:nth-child(1) {
      margin-bottom: 11px;
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 7px;
        width: 10%;
        height: 4px;
        background-color:#222733;
        border-radius: 0 0 0 12px;
      }
    }
    & label {
      font-size: 20px;
      font-weight: 300;
      line-height: 100%;
    }
    &__value {
      font-size: 20px;
      font-weight: 500;
      line-height: 100%;
    }
    &__range {
      position: absolute;
      bottom: -4px;
      left: 10%; 
      width: 90%;
      & input {
        width: 100%;
        height: 4px;
        appearance: none;
        background: rgba(255, 255, 255, 0);
        &::-webkit-slider-thumb {
          appearance: none;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: #222733;
          cursor: pointer;
          z-index: 2;
        }
      }
      &-value {
        top: 10px;
        position: absolute;
        height: 4px;
        content: "";
        background-color: red;
        width: 10%;
        pointer-events: none;
      }
      
    }
    &__quantity {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      font-size: 18px;
      opacity: 0.4;
      font-weight: 400;
      line-height: 100%
    }
  }
}